* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    background-color: orangered;
}

.logo p {
    font-size: 30px;
    font-weight: 600;
    margin-left: 1rem;
    color: #fff;
}

.sidebar ul {
    display: flex;
}

.sidebar ul li {
    list-style: none;
    margin-top: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
}

form {
    display: grid;
    /* margin: 0 auto;
    justify-content: center; */
    margin-top: 1rem;
}

form p {
    font-size: 13px;
    margin-top: 10px;
    margin-left: 1rem;
}

form p a {
    color: orangered;
    text-decoration: none;
}

form label {
    /* text-align: center; */
    font-size: 25px;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 1rem;
}

form input {
    width: 50%;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    margin-top: 9px;
    margin-left: 1rem;
}

form .submitt {
    background-color: orangered;
    color: white;
    padding: 7px;
    cursor: pointer;
    width: 10%;
}

.username-error {
    display: none;
    color: red;
    font-size: 0.85rem;
    margin-top: 5px;
    /* margin-left: 1rem; */
}

.input-box.invalid input {
    border-color: red;
}

.input-box.invalid .username-error {
    display: block;
}

.flash-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    width: 15%;
    border-radius: 5px;
}
