* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family:"Montserrat", sans-serif;
} */

.sidebar {
    display: flex;
    justify-content: space-between;
    background-color: orangered;
}

.logo p {
    font-size: 30px;
    font-weight: 600;
    margin-left: 1rem;
    color: #fff;
}

.sidebar ul {
    display: flex;
}

.sidebar ul li {
    list-style: none;
    margin-top: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
}

.main h1 {
    font-size: 70px;
    font-weight: 100;
    width: 80%;
    margin-top: 3rem;
    margin-left: 1rem;
}

.main h1 span {
 color: orangered;
}

.main p {
    font-size: 20px;
    margin-left: 1rem;
    margin-top: 12px;
    width: 70%;
}

.main .reg {
    margin-top: 2rem;
    margin-left: 1rem;
}

.main .reg a {
    text-decoration: none;
    background-color: orangered;
    padding: 15px 20px;
    color: #fff;
}